Missing built-in field names

This is the list of standards where the names came from, and ones that are currently missing:

- RFC 2068: Hypertext Transfer Protocol -- HTTP/1.1
- RFC 6265: HTTP State Management Mechanism
- RFC 6266: Use of the Content-Disposition Header Field in the Hypertext Transfer Protocol (HTTP)
- RFC 6454: The Web Origin Concept
- RFC 6455: The WebSocket Protocol
- RFC 6797: HTTP Strict Transport Security (HSTS)
- RFC 7838: HTTP Alternative Services
Alt-Used
- RFC 9110: HTTP Semantics
Allow
Content-Language
Content-Location
Content-Range
From
If-Match
If-Unmodified-Since
Max-Forwards
Retry-After
TE
- RFC 9111: HTTP Caching
- RFC 9218: Extensible Prioritization Scheme for HTTP
- Content Security Policy Level 3
Content-Security-Policy-Report-Only
- Fetch
Cross-Origin-Resource-Policy
Sec-Purpose
- Upgrade Insecure Requests

Let's evaluate which of these are useful to include (and which ones we can drop).

Additionally, `Proxy-Connection` is not included in any standard but used in the current proxy implementation

I would like `pragma` to be made public

@wmalloc `Pragma` is deprecated. Do you have a specific reason for using it?

@guoye-zhang We use DRM API to validate if the user can play a specific asset. The API request, one of the headers has to be `"Pragma": "no-cache"`. 

@wmalloc We are leaning towards not making it public since it's deprecated by the standard and we want to keep our deprecation status in sync with the standards. Having a deprecated API at v1 isn't super useful, so you'll need to extend `HTTPField.Name` yourself to add it.

Current thinking is to complete HTTP RFC header names and remove alt-svc (ongoing work to replace it with `alt-svcb`) and browser specific header names

@guoye-zhang that is fine, I already have an extension for my needs. Official release can keep it private.